@charset "UTF-8";

.collaboration {
  &-main {
    height:em(1080);
    background:url(../images/visual/collaboration_main.jpg) no-repeat center;
    background-size:cover;
    background-attachment: fixed;
    @include size(lag) {
      height:em(850);
    }
    @include size(lg) {
      height:em(700);
      background-attachment: unset;
    }
    @include size(sm) {
      height:auto;
      padding:16vw 0;
    }
    .wrapper2 {
      display: flex;
      height:100%;
      align-items:flex-start;
      justify-content: center;
      flex-direction: column;
      p {
        color:$white;
        font-size: em(52);
        font-weight: 100;
        line-height:1;
        @include size(sm) {
          font-size: em(40);
          text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
        }
        &.desc {
          font-size: em(22);
          line-height:1.7;
          margin-top: em(30);
          @include size(sm) {
            font-size: em(17);
            line-height: 1.55;
          }
          br {
            @include size(sm) {
              display: none;
            }
          }
        }
      }
    }
  }


  &-gallery {
    padding:em(100) 0;
    .slick {
      .item {
        margin:0 em(95);
        position: relative;
        opacity: 0.5;
        transition:0.4s;
        height:auto !important;
        @include size(note) {
          margin:0 em(70);
        }
        @include size(lg) {
          margin:0 em(50);
        }
        @include size(sm) {
          margin:0 em(30);
        }
        @include size(xs) {
          margin:0 em(10);
        }
        &.slick-center {
          opacity: 1;
        }
        .desc {
          position: absolute;
          left:0;
          right:0;
          top:50%;
          transform:translateY(-50%);
          text-align:left;
          font-family: $maven;
          font-weight: 300;
          color:$white;
          font-size: em(32);
          letter-spacing: -0.02em;
          padding:em(30);
          @include size(lag) {
            padding:em(20);
            font-size: em(26);
          }
          @include size(sm) {
            font-size: em(22);
          }
          @include size(xs) {
            font-size: em(18);
          }
        }
      }
    }
    .slick-arrow {
      position: absolute;
      top:50%;
      transform:translateY(-50%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
      width:73px;
      height:40px;
      z-index: 1;
      @include size(lg) {
        width:55px;
      }
      @include size(sm) {
        display: none !important
      }
      &.slick-prev {
        background-image:url(../images/product/product_slider_prev.png);
        left:11.7%;
        @include size(note) {
          left:7%;
        }
      }
      &.slick-next {
        background-image:url(../images/product/product_slider_next.png);
        right:11.7%;
        @include size(note) {
          right:7%;
        }
      }
    }
    .slick-dots {
      position: absolute;
      left:11%;
      bottom:-40px;
      margin-left:em(140);
      @include size(note) {
        left:5%;
      }
      @include size(lg) {
        left:0;
        margin-left: 0;
        right:0;
        text-align:center;
      }
      li {
        display: inline-block;
        vertical-align: middle;
        margin-right:20px;
        @include size(lg) {
          margin:0 8px;
        }
        &.slick-active button {
          background:$primary;
          width:14px;
          height:14px;
        }
        button {
          width:8px;
          height:8px;
          border-radius:100%;
          background:#aaa;
        }
      }
    }
  }
  
  &-profile {
    height:em(400);
    background:url(../images/visual/collaboration_profile.jpg) no-repeat center;
    background-size:cover !important;
    @include size(lg) {
      background:url(../images/visual/collaboration_profile_m.jpg) no-repeat center;
    }
    @include size(sm) {
      height:auto;
      padding:14vw 0;
    }
    > div {
      height:100%;
      display: flex;
      flex-direction: column;
      justify-content:center;
      color:$white;
      .name {
        font-family: $maven;
        font-weight: 100;
        line-height:1;
        font-size: em(80);
        text-transform: uppercase;
        @include size(lg) {
          font-size: em(60);
          font-weight: 300;
        }
        @include size(sm) {
          font-size: em(50);
        }
      }
      .desc {
        margin-top: em(15);
        font-size: em(20);
        font-weight: 100;
        line-height: 1.6;
        @include size(sm) {
          font-size: em(18);
        }
      }
    }
  }

  &-career {
    padding:em(70) 0 0;
    @include size(sm) {
      padding:em(50) 0 0;
    }
    .tit {
      font-size: em(25);
      margin-bottom: em(30);
      @include size(sm) {
        font-size: em(22);
        margin-bottom: em(20);
      }
    }
    div {
      .tit {
        font-size: em(22);
        margin-bottom: 10px;
        @include size(lg) {
          font-size: em(20);
        }
      }
      ul {
        li {
          margin:5px 0;
          font-weight: 100;
          font-size: em(20);
          @include size(lg) {
            font-size: em(18);
          }
        }
      }
    }
  }
}