@charset "UTF-8";

@mixin flex($align_item, $justify_content, $wrap:wrap, $reverse:false) {
  display: flex;
  flex-wrap: $wrap;
  align-items: $align_item;
  justify-content: $justify_content;
  @if ( $reverse == 'row' ) {
    flex-direction: row-reverse;
  }
  @else if ( $reverse == 'col' ) {
    flex-direction: column-reverse;
  }
}