@charset "UTF-8";

.page-st-tech {
  .sub-page-wrap .sub-content {
    padding-top: 0 !important;
    .page-title {
      padding-top: 1.9047em;
      padding-bottom: 1.5em;
      margin-bottom: 0;
      @include size (sm) {
        padding:1.625em 0 1em ;
      }
    }
  }
  .sub-visu-wrap,
  .sub-menu-wrap {
    position: relative;
    z-index: 1;
    background-color: #fff;
  }
  .footer {
    position: relative;
    z-index: 1;
  }
  .page-title-wrap {
    position: relative;
    background-color: #fff;
    z-index: 1;
  }
}

.rnd-title {
  font-size: em(52);
  font-weight: 100;
  line-height: 1.2;
  @include size(lag) {
    font-size: em(44);
  }
  @include size(sm) {
    font-size: em(34);
  }
  @include size(xs) {
    font-size: em(28);
  }
}
.rnd-txt {
  font-size: em(32);
  font-weight: 100;
  color:$gray-5;
  @include size(lag) {
    font-size: em(27);
  }
  @include size(sm) {
    font-size: em(23);
  }
  @include size(xs) {
    font-size: em(19);
  }
}


.rnd-technology {
  &-wrap,
  > * {
    position: relative;
    z-index: 1;
    background-color: $white;
  }
  &-bnr {
    background:url(../images/rnd/technology_wide_bg.jpg) no-repeat center;
    background-size:cover !important;
    margin-bottom:0;
    @include size(lg) {
      background:url(../images/rnd/technology_wide_bg_m.jpg) no-repeat center;
    }
    @include size(sm) {
      //margin-bottom: em(70);
    }
    > div {
      height:em(480);
      display: flex;
      align-items:center;
      @include size(lg) {
        text-align:center;
        justify-content: center;
        height:auto;
        padding:18vw 0;
      }
    }
    .rnd-title {
      margin-left: 50%;
      @include size(lg) {
        margin-left: 0;
      }
    }

    &-wrap {
      padding-bottom: em(100);
      @include size(sm) {
        padding-bottom: em(70);
      }
    }
  }

  &-img {
    padding: em(120) 0 em(150);
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    @include size(sm) {
      padding:em(80) 0 em(100);
    }
    .img {
      @include size(note) {
        flex:1 0 50%;
        max-width:50%;
      }
      &:first-child {
        margin-top: em(100);
        @include size(sm) {
          margin-top: em(60);
        }
      }
      &:last-child {
        margin-right: 7vw;
        @include size(note) {
          margin-right: 0;
          flex:1 0 47%;
          max-width:47%;
          text-align:right;
        }
      }
    }
  }

  &-bnr2 {
    background:url(../images/rnd/technology_wide_bg2.jpg) no-repeat center;
    background-size:cover;
    background-attachment: fixed;
    height:em(970);
    @include size(lag) {
      height:em(800);
    }
    @include size(lg) {
      background-attachment: unset;
    }
    @include size(sm) {
      height:em(500);
    }
    @include size(xs) {
      height:em(450);
    }
    .txt-bx {
      position: absolute;
      left:em(30);
      top:em(160);
      @include size(sm) {
        top:em(100);
        left:em(15);
      }
      @include size(xs) {
        top:em(60);
      }
      .rnd-title {
        margin-bottom: em(15);
      }
      .rnd-txt br {
        @include size(xs) {
          display: none;
        }
      }
    }
  }

  &-img-list {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding:em(150) 0;
    @include size(lg) {
      padding: em(100) 0;
    }
    @include size(sm) {
      padding: em(70) 0;
    }
    .img {
      flex: 1 0 percentage(378/1340);
      max-width:percentage(378/1340);
      @include size(lg) {
        flex: 1 0 31.5%;
        max-width:31.5%;
      }
      &:nth-child(2) {
        margin-top: em(80);
        @include size(sm) {
          margin-top: em(50);
        }
      }
      &:nth-child(3) {
        margin-top: em(160);
        @include size(sm) {
          margin-top: em(100);
        }
      }
    }
  }

  &-step {
    background:url(../images/rnd/technology_wide_bg3.jpg) no-repeat center;
    background-size:cover;
    position: relative;
    overflow: hidden;
    position: fixed;
    top: 110px;
    left: 0;
    width: 100%;
    height: calc(100vh - 110px);
    z-index: 0;
    @include size(lg) {
      top:80px;
      height: calc(100vh - 80px);
    }
    @include size(xs) {
      top:65px;
      height: calc(100vh - 65px);
    }
    > div {
      height: calc(100vh - 110px);
      display: flex;
      align-items:center;
      justify-content:center;
      text-align:center;
      @include size(lg) {
        height: calc(100vh - 80px);
      }
      @include size(xs) {
        height: calc(100vh - 65px);
      }
    }
    .rnd-title {
      margin-bottom: em(15);
    }
  }
  &-step-scroll {
    background:url(../images/rnd/technology_wide_bg3_scroll.jpg) no-repeat center;
    background-size:cover;
    height:em(1000);
    margin-top: calc(100vh - 110px);
    @include size(lg) {
      margin-top: calc(100vh - 80px);
    }
    @include size(xs) {
      height:auto;
      margin-top: calc(100vh - 65px);
      padding:em(60) 0 em(70);
    }
    .wrapper2 {
      height:100%;
      display: flex;
      align-items:center;
    }
    .step-list {
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      &-item {
        padding:em(20) em(50);
        text-align:center;
        @include size(note) {
          padding:em(15) em(20);
        }
        @include size(lag) {
          flex:1 0 33.33%;
          max-width:33.33%;
        }
        @include size(sm) {
          flex:1 0 50%;
          max-width:50%;
        }
        @include size(xs) {
          flex:1 0 100%;
          max-width:100%;
          padding:em(15) 0;
        }
      }
      &-circle {
        width: em(330);
        height: em(330);
        display: inline-flex;
        align-items:center;
        justify-content:center;
        flex-direction: column;
        text-align:center;
        border-radius:100%;
        border:1px solid rgba($white, 0.2);
        color:$white;
        padding:em(10) em(20);
        @include size(lag) {
          width: em(250);
          height: em(250);
        }
        @include size(sm) {
          width: em(230);
          height: em(230);
          padding:em(10);
        }
        // @include size(xs) {
        //   width: em(230);
        //   height: em(230);
        //   padding:em(10);
        // }
      }
      &-number {
        font-family: $maven;
        font-size: em(24);
        font-weight: 300;
        letter-spacing: 0.2em;
        position: relative;
        padding-bottom: 3px;
        @include size(lag) {
          font-size: em(20);
        }
        @include size(sm) {
          font-size: em(17);
          letter-spacing: 0;
        }
        &:after {
          content:'';
          position: absolute;
          left:0;
          right:3px;
          height:1px;
          bottom:0;
          background:rgba($white, 0.5);
          @include size(sm) {
            right:1px;
          }
        }
      }
      &-tt {
        font-size: em(28);
        font-weight: 100;
        line-height: 1.1;
        margin:22px 0 15px;
        @include size(lag) {
          font-size: em(22);
        }
        @include size(sm) {
          font-size: em(18);
        }
      }
      &-desc {
        font-size: em(22);
        font-weight: 100;
        line-height: 35px;
        height:70px;
        @include size(lag) {
          font-size: em(18);
          line-height: 26px;
          height: 52px;
        }
        @include size(sm) {
          font-size: em(16);
          line-height: 20px;
          height:40px;
        }
      }
    }
  }
}
