.contact-us-wrap {
  .wide-img {
    height:25em;
    @include imgToBg();
    @include size (lg) {
      height:20em;
    }
    @include size (xs) {
      height:14em;
    }
  }
  .title {
    font-size:em(36);
    font-weight:500;
    font-family:$maven;
    line-height:1;
    margin:100px 0 30px;
    @include size (lg) {
      font-size:em(32);
      margin:70px 0 20px;
    }
    @include size (xs) {
      font-size:em(28);
    }
  }

  .contact-list {
    border-top:1px solid $gray-2;
    .tr {
      border-bottom:1px solid $gray-d;
      padding:25px 30px;
      font-size:em(22);
      display: flex;
      flex-wrap:wrap;
      color:$gray-2;
      @include size (lg) {
        font-size:em(18);
        padding:20px;
      }
      @include size (sm) {
        display: block;
        padding:15px 10px;
      }
      &-tit {
        flex:1 0 250px;
        max-width:250px;
        letter-spacing:-0.03em;
        @include size (lg) {
          flex:1 0 190px;
          max-width:190px;
        }
        @include size (sm) {
          flex:none;
          max-width:none;
          font-weight:500;
          margin-bottom:10px;
        }
      }
      &-cont {
        font-family:$maven;
        font-weight:300;
        flex:1;
        @include size (sm) {
          flex:none;
        }
      }
      .contact-info {
        display: flex;
        flex-wrap:wrap;
        margin:10px 0;
        @include size (sm) {
          display: block;
        }
        &-list {
          flex:1 0 33.33%;
          max-width:33.33%;
          text-align: center;
          border-left:1px solid $gray-d;
          padding:0 10px;
          @include size (sm) {
            flex:none;
            max-width:100%;
            border-left:0;
            border-top:1px solid $gray-d;
            padding:15px 0;
          }
          &:first-child {
            border:0;
          }
          .icon {
            img {
              width:91px;
              @include size (sm) {
                width:70px;
              }
            }
          }
          .tit {
            font-size:rem(20);
            font-weight:500;
            margin:20px 0 5px;
            @include size (lg) {
              font-size:rem(18);
            }
          }
          .desc {
            font-size:rem(17);
            color:$gray-5;
            line-height:1.5;
            @include size (lg) {
              font-size:rem(15);
            }
          }
        }
      }
    }
  }
}