@charset "UTF-8";

.sub-sec-title-en {
  font-family: $maven;
  font-weight: 700;
  font-size: em(30);
  color:$black;
  letter-spacing: -0.035em;
  margin-bottom: em(10);
  @include size(lag) {
    font-size: em(24);
  }
}
.sub-sec-title {
  color:$gray-5;
  font-size: em(52);
  font-weight: 100;
  line-height: 1.15;
  letter-spacing: -0.035em;
  margin-bottom: em(15);
  @include size(lag) {
    font-size: em(43);
  }
  @include size(sm) {
    font-size: em(38);
  }
}
.sub-sec-txt {
  font-size: em(22);
  font-weight: 300;
  color:$gray-6;
  line-height:1.6;
  letter-spacing: -0.035em;
  @include size(lag) {
    font-size: em(19);
  }
}