@charset "UTF-8";

$primary:   #e9463f;
$secondary: #5a5657;
$tertiary:  #e6c4a8;
$blue :     #0b3774;
$purple :   #7f1086;


// Grayscale
$black:  #000 !default;
$gray-1: #111 !default;
$gray-2: #222 !default;
$gray-3: #333 !default;
$gray-4: #444 !default;
$gray-5: #555 !default;
$gray-6: #666 !default;
$gray-7: #777 !default;
$gray-8: #888 !default;
$gray-9: #999 !default;
$gray-a: #aaa !default;
$gray-b: #bbb !default;
$gray-c: #ccc !default;
$gray-d: #ddd !default;
$gray-e: #eee !default;
$white:  #fff !default;



$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
    (
      "primary":    $primary,
      "secondary":  $secondary,
    ),
    $theme-colors
);
$gray-colors: () !default;
$gray-colors: map-merge(
    (
      "black":  $black,
      "gray-1": $gray-1,
      "gray-2": $gray-2,
      "gray-3": $gray-3,
      "gray-4": $gray-4,
      "gray-5": $gray-5,
      "gray-6": $gray-6,
      "gray-7": $gray-7,
      "gray-8": $gray-8,
      "gray-9": $gray-8,
      "gray-a": $gray-8,
      "gray-b": $gray-8,
      "gray-c": $gray-8,
      "gray-d": $gray-8,
      "gray-e": $gray-8,
      "white":  $white,
    ),
    $gray-colors
);

.c-gray-1 {
  color:$gray-1 !important;
}
.c-white {
  color:$white !important;
}
.c-tertiary {
  color:$tertiary !important;
}
.c-primary {
  color:$primary !important;
}


// font-family
$maven : 'MavenPro', 'Noto Sans KR', sans-serif;
$rozha : 'RozhaOne', 'Noto Sans KR', sans-serif;
$noto : 'Noto Sans KR', sans-serif;

.ff-maven {
  font-family:$maven;
}


.fw-300 {
  font-weight: 300 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-700 {
  font-weight: 700 !important;
}

